@import "./src/assets/scss/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 100%;
  background-color: dodgerblue;
  box-shadow: 1px 1px lightgray;
  padding: 5px;
  color: white;
  z-index: 9999;

  .title {
    margin: 0;
    padding: 5px 20px;
    flex-grow: 1;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .action {
      padding: 5px 20px;
      font-size: 1.3em;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
